# Builds
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# dotenv
.env

# Node.js
/package-lock.json
/node_modules/

# WordPress
/wordpress/

# PHPUnit
/.phpunit.result.cache
