<?xml version="1.0"?>

<ruleset name="Pronamic Money rules">
	<config name="installed_paths" value="vendor/wp-coding-standards/wpcs,vendor/wimg/php-compatibility" />

	<config name="minimum_supported_wp_version" value="4.7" />

	<config name="testVersion" value="5.3-99.0"/>

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php" />
	<arg value="sp" />

	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibility" />

	<rule ref="WordPress">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
	</rule>
</ruleset>
